
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}"> <!-- 외부 CSS 파일 링크 -->
</head>
<body>

<h1>Link Co</h1>
<div class="container">

    <h2>로그인</h2>

    <form method="POST" action>
        {% csrf_token %} 
        <label for="username">아이디</label><br>
        <input name="username" type="text" class="form-input" required>
        <br>
        <label for="password">비밀번호</label><br>
        <input name="password" type="password" class="form-input" required>
        <br>
        <input type="submit" class="btn btn-primary" value="로그인">
    </form>
</div>
<p>아직 회원이 아니신가요? <a href="{% url 'signup' %}">회원가입하기</a></p>
</body>

</html>


